/* French letters - Windows Alt Codes (decimal, numpad) */

// Lower: Alt+0224 (à), Upper: Alt+0192 (À)
ZMK_UNICODE_PAIR(fr_a_grave,        KP_N0, KP_N2, KP_N2, KP_N4,   KP_N0, KP_N1, KP_N9, KP_N2)
// Lower: Alt+0226 (â), Upper: Alt+0194 (Â)
ZMK_UNICODE_PAIR(fr_a_circumflex,   KP_N0, KP_N2, KP_N2, KP_N6,   KP_N0, KP_N1, KP_N9, KP_N4)
// Lower: Alt+0231 (ç), Upper: Alt+0199 (Ç)
ZMK_UNICODE_PAIR(fr_c_cedilla,      KP_N0, KP_N2, KP_N3, KP_N1,   KP_N0, KP_N1, KP_N9, KP_N9)
// Lower: Alt+0232 (è), Upper: Alt+0200 (È)
ZMK_UNICODE_PAIR(fr_e_grave,        KP_N0, KP_N2, KP_N3, KP_N2,   KP_N0, KP_N2, KP_N0, KP_N0)
// Lower: Alt+0233 (é), Upper: Alt+0201 (É)
ZMK_UNICODE_PAIR(fr_e_acute,        KP_N0, KP_N2, KP_N3, KP_N3,   KP_N0, KP_N2, KP_N0, KP_N1)
// Lower: Alt+0234 (ê), Upper: Alt+0202 (Ê)
ZMK_UNICODE_PAIR(fr_e_circumflex,   KP_N0, KP_N2, KP_N3, KP_N4,   KP_N0, KP_N2, KP_N0, KP_N2)
// Lower: Alt+0235 (ë), Upper: Alt+0203 (Ë)
ZMK_UNICODE_PAIR(fr_e_diaeresis,    KP_N0, KP_N2, KP_N3, KP_N5,   KP_N0, KP_N2, KP_N0, KP_N3)
// Lower: Alt+0238 (î), Upper: Alt+0206 (Î)
ZMK_UNICODE_PAIR(fr_i_circumflex,   KP_N0, KP_N2, KP_N3, KP_N8,   KP_N0, KP_N2, KP_N0, KP_N6)
// Lower: Alt+0239 (ï), Upper: Alt+0207 (Ï)
ZMK_UNICODE_PAIR(fr_i_diaeresis,    KP_N0, KP_N2, KP_N3, KP_N9,   KP_N0, KP_N2, KP_N0, KP_N7)
// Lower: Alt+0244 (ô), Upper: Alt+0212 (Ô)
ZMK_UNICODE_PAIR(fr_o_circumflex,   KP_N0, KP_N2, KP_N4, KP_N4,   KP_N0, KP_N2, KP_N1, KP_N2)
// Lower: Alt+0249 (ù), Upper: Alt+0217 (Ù)
ZMK_UNICODE_PAIR(fr_u_grave,        KP_N0, KP_N2, KP_N4, KP_N9,   KP_N0, KP_N2, KP_N1, KP_N7)
// Lower: Alt+0251 (û), Upper: Alt+0219 (Û)
ZMK_UNICODE_PAIR(fr_u_circumflex,   KP_N0, KP_N2, KP_N5, KP_N1,   KP_N0, KP_N2, KP_N1, KP_N9)
// Lower: Alt+0252 (ü), Upper: Alt+0220 (Ü)
ZMK_UNICODE_PAIR(fr_u_diaeresis,    KP_N0, KP_N2, KP_N5, KP_N2,   KP_N0, KP_N2, KP_N2, KP_N0)
// Lower: Alt+0255 (ÿ), Upper: Alt+0159 (Ÿ)
ZMK_UNICODE_PAIR(fr_y_diaeresis,    KP_N0, KP_N2, KP_N5, KP_N5,   KP_N0, KP_N1, KP_N5, KP_N9)
// Lower: Alt+0230 (æ), Upper: Alt+0198 (Æ)
ZMK_UNICODE_PAIR(fr_ae,             KP_N0, KP_N2, KP_N3, KP_N0,   KP_N0, KP_N1, KP_N9, KP_N8)
// Lower: Alt+0156 (œ), Upper: Alt+0140 (Œ)
ZMK_UNICODE_PAIR(fr_oe,             KP_N0, KP_N1, KP_N5, KP_N6,   KP_N0, KP_N1, KP_N4, KP_N0)
